{{!-- used to display model data in html using hbs templating language
they recieve the model loaded in the route as a parameter (we can reach every model property inside of hbs) --}}
<h1> Reading list</h1>

{{reading-list books=model addBook=(route-action "addBook") removeBook=(route-action "removeBook")}}

{{outlet}}